.eggs
.coverage
MANIFEST
coverage.xml
nosetests.xml
junit-report.xml
report.xml
pylint.txt
.cache/
.pytest_cache/
.tox
cover/
build/
docs/_build
examples/settings.py
*.egg-info
*.pyc
*.swp
*.egg
env/
dist/
__pycache__