[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"neo4j" = "*"
detox = "==0.13"
tox = "==3.2.1"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-xdist = "*"
"flake8" = "*"
readme-renderer = "*"
codecov = "*"
mock = "*"

[requires]
python_version = "3.7"
